<template name="home">
  <div class="template-home">
      <div class="container">
          <div class="jumbotron">
              <h1>Volunteer Call</h1>
              <p class="lead">Grass Roots events</p>
              <p><a href="{{pathFor 'dashboard'}}" class="btn btn-lg btn-success">Dashboard</a></p>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2><i class="fa fa-users"></i> Create Projects</h2>
          <p> Give people work! </p>
        </div>
        <div class="col-lg-4">
          <h2><i class="fa fa-facebook"></i> Set new milestones with fullCalendar</h2>
          <p> Give people deadlines! </p>
        </div>
        <div class="col-lg-4">
          <h2><i class="fa fa-twitch"></i> Upload files with filesystem</h2>
          <p> Give people files! </p>
        </div>
      </div>
    <p>
    </p>
  </div>
</template>
