<template name="home">
  <div class="template-home">
      <div class="container">
          <div class="jumbotron">
              <h1>Volunteer Call</h1>
              <p class="lead">Grass Roots events</p>
              <p><a href="{{pathFor 'dashboard'}}" class="btn btn-lg btn-success">Dashboard</a></p>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2><i class="fa fa-users"></i> Do stuff around your neighbourhood</h2>
          <p> Join people around the block! </p>
        </div>
        <div class="col-lg-4">
          <h2><i class="fa fa-facebook"></i> Do stuff around your neighbourhood</h2>
          <p> Join people around the block! </p>
        </div>
        <div class="col-lg-4">
          <h2><i class="fa fa-twitch"></i> Do stuff around your neighbourhood</h2>
          <p> Join people around the block! </p>
        </div>
      </div>
    <p>
      Welcome.
      User may not be logged in. 28nov.
    </p>
  </div>
</template>
